.fabritor-panel-text-wrapper {
  margin-left: -24px;
  padding: 16px;
}

.fabritor-panel-shape-item {
  cursor: pointer;
}

.fabritor-panel-template-wrapper .ant-card .ant-card-body {
  padding: 14px;
  font-size: 12px;
}