html, body {
  height: 100%;
  margin: 0;
}

#ice-container {
  height: 100%;
}

.fabritor-layout  .ant-tabs-left >.ant-tabs-nav .ant-tabs-tab {
  padding: 8px 18px;
}

.ant-tabs-content-holder {
  overflow: auto !important;
}

.fabritor-toolbar-setter-trigger {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 4px;
  border-radius: 6px;

  &:hover {
    background-color: rgba(64,87,109,.07);
  }
}
